.header{
	width: 100%;
	height: 47px;
	background: #5E93FF;
	display: flex;
	align-items: center;
}

.logo{
	color: #fff;
	font-size: 2rem;
	font-weight: bold;
}
.trang-thong-tin{
	display: flex;
	align-items: center;
}

.nhap-tim-kiem{
	outline: none;
	border: none;
	padding: 8px 24px;
	margin: 0 -12px;
	border-radius: 5px;
	font-weight: bold;
}