.header{
	width: 100%;
	height: 72px;
	background: #5E93FF;
	overflow: hidden;
	position: fixed;
	top: 0;
}
.thanh-chua{
	display: flex;
	height: 100%;
	align-items: center;
}
.logo{
  height: 100%;
	margin-left: 12px;
	margin-right: 24px;
}
.trang-thong-tin{
	display: flex;
	align-items: center;
}
.thong-tin-link{
	padding: 32px 18px;
	font-weight: bold;
	color: #EEFAFF;
	transition: transform .2s;
}
.thong-tin-link:hover{
	background: #218FFF;
	transform: translateY(-15px);
}
.thong-tin-link ~ .thong-tin-link{
	content: '';
	border: 1px solid #000;
}
.thanh-tim-kiem{
	margin-left: auto;
	margin-right: 48px;
}
.nhap-tim-kiem{
	outline: none;
	border: none;
	padding: 8px 24px;
	margin: 0 -12px;
	border-radius: 5px;
	font-weight: bold;
	color: #ccc;
}
.s_btn[disabled]{
	color: #000;
	background: #FF3434;
}
.s_btn{
	color: #000;
	background: #57FF57;
}